@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <script src="~/Scripts/jquery-2.2.1.js"></script>
</head>
<body><div>
    <div>
    <form id="teachers_add" method="post" action="/teachers/addTeacher/">
        所属部门:<select id="teachers_add_depart" name="DeptID"></select><br />
        姓名:<input class="easyui-textbox" id="teachername" name="Name" data-options="prompt:'请输入姓名'" /><br />
        教工号:<input class="easyui-textbox" id="teacherID" name="TeacherID" /><br />
        允许登陆:<input type="checkbox"" id="islogin"  name="IsLogin" value="1"/><br />
        </form>
    </div>
    <script>
        $(function () {
            $.get("/departments/getdepartments", function (data) {
                $(data).each(function (index, dept) {
                    $("#teachers_add_depart").append("<option value='" + dept.ID + "'>" + dept.Name + "</option>");
                });
            }, "json");
        });
    </script>
  
    </div>
</body>
</html>
